// Font imports go here
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap');

:root {
    // css variables go here
    --black: #000000;
    --mint: #7db29e;
    --yellow: #dbdd90;
    --dark-blue: #44616c;
}
