// Font imports go here
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    // css variables go here
    --black: #1a171c;
    --white: #fbfcf3;
    --white-gray: #e8e8e8;
    --gray: #6e6e6e;
    --beige: #bba69b;
    --coral: #F38D68;
    --sage: #CAD49D;
    --blue: #46B1C9;
}
